body { margin:0; padding:0; background:#fff; font:13px Helvetica,sans-serif; }

/*	Links	*/
a { color:#ff2905; }
a img { border:none; }

/*	Basic structural divs	*/
div#header { margin:0; padding:0; background:#fff url('/images/header_bg.jpg') no-repeat right top; width:100%; height:179px; border-bottom:1px solid black; }
div#content { padding:0 0 0 32px; }
div#left_side {	width:200px; float:left; padding:0 20px 0 0; }
div#left_side div { padding:0 5px 5px 5px; background:#b8def1; }

div.create_post { clear:both; }
div.post { clear:both; float:left; padding:5px; background:#eee; margin:0 0 10px 0; width:60%; }
div.flash { padding:2px; border:1px solid #ccc; background:#F3FFB4; width:50%; margin:0 auto 10px auto; text-align:center; }

/*	Headers	*/
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
h1 { font-size:48px; letter-spacing:-2px; }

/*	Lists	*/
dt { font: bold 1.5em Helvetica, Arial, sans-serif; letter-spacing:-1px; }
dd { color:#555; }

/*	Forms	*/
form label { float:left; width:100px; text-transform:lowercase; letter-spacing:-1px; color:#a1a1a1; font: bold 1.2em Helvetica, Arial, sans-serif; }
form .textbox { font: 1.2em Helvetica,Arial,sans-serif; }

/*	Colors and textsizes	*/
p.file_size { margin:0; padding:0; font-size:8pt; color:#636363; clear:both; text-align:right; }
.post h2 { font-size:10pt; }
h2 em { color:green; font-style:normal; font-size:1.5em; letter-spacing:-1px; }

/*	Images...since this IS an imageboard	*/
.post img {
	float:left;
	margin:0 20px 0 0;
}

/*	Miscellaneous structural floats	*/
.clear_both {
	clear:both;
}